.wrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(14, 36px);
  grid-template-rows: repeat(10, 36px);
}

/* .cell { */
  /* border: 2px solid grey; */
/* } */

.cell img {
  width: 36px;
  height: 36px;
}

.cell img:hover {
  border: 3px solid green;
  border-radius: 5px;
}

.selected-cell {
  border: 3px dashed rgb(109, 0, 152);
  border-radius: 10px;
}

.selected-cell:hover {
  background-color: red;
}